<div class="container">
    <h2>Employee Registration Form</h2>
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="row mt-4">
           
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label for="name">Name:</label>
                    </div>
                    <div class="col-md-8">
                        <div class="e-float-input">
                        <input type="text" placeholder="Enter Name" class="form-control" id="name" formControlName="name" autocomplete="off"
                        [ngClass]="{'is-invalid': (f['name'].touched || f['name'].dirty) && !f['name'].valid || (submitted && !f['name'].valid) }">
                        <div class="invalid-feedback">
                            <div *ngIf="f['name'].hasError('required')">Name is required</div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
                
        
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label for="name"> Father Name:</label>
                    </div>
                    <div class="col-md-8">
                        <div class="e-float-input">
                        <input type="text" placeholder="Enter Father Name" class="form-control" id="name" formControlName="fatherName" autocomplete="off"
                        [ngClass]="{'is-invalid': (f['fatherName'].touched || f['fatherName'].dirty) && !f['fatherName'].valid || (submitted && !f['fatherName'].valid) }">
                        <div class="invalid-feedback">
                            <div *ngIf="f['fatherName'].hasError('required')"> Father Name is required</div>
                        </div>    
                    </div>
                   </div>
                </div>
            </div>
     
        </div>
    
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                <label for="dob">Mobile No.</label>
               </div>
               <div class="col-md-8">
                 <div class="e-float-input">
                   <input type="text" placeholder="Enter Mobile No." class="form-control" id="mobile" formControlName="mobile" autocomplete="off"
                   pattern="[0-9]+"
                   [ngClass]="{'is-invalid': (f['mobile'].touched || f['mobile'].dirty) && !f['mobile'].valid || (submitted && !f['mobile'].valid) }">
                   <span class="e-float-line"></span>
                   <div class="invalid-feedback">
                      <div *ngIf="f['mobile'].hasError('required')">Mobile No. is required.</div> 
                     <div *ngIf="f['mobile'].hasError('minlength')">Mobile No. should be minimum 8 characters.</div>
                     <div *ngIf="f['mobile'].hasError('maxlength')">Mobile No. should be max 15 characters.</div>
                     <div *ngIf="f['mobile'].hasError('pattern')">Mobile No. must be in valid format.</div>
                   </div> 
                </div>
               </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <label for="email">Email:</label>
                </div>
                <div class="col-md-8">
                    <div class="e-float-input">
                      <input type="email" placeholder="Enter Your email" class="form-control" id="email" formControlName="email" autocomplete="off"
                      [ngClass]="{'is-invalid': (f['email'].touched || f['email'].dirty) && !f['email'].valid || (submitted && !f['email'].valid) }">
                      <div class="invalid-feedback">
                        <div *ngIf="f['email'].hasError('required')"> Email is required</div>
                        <div *ngIf="f['email'].hasError('email')"> Email Must be valid format</div>
                      </div>
                    </div>
                </div>
            </div>
           
        </div>
      
     
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
          <div class="row">
              <div class="col-md-4">
                <label for="department">Department:</label>
              </div>
              <div class="col-md-8">
                <div class="e-float-input">
                  <select class="form-control form-select" id="department" formControlName="department"
                  [ngClass]="{'is-invalid': (f['department'].touched || f['department'].dirty) && !f['department'].valid || (submitted && !f['department'].valid) }">
                    <option value="" disabled>Select Department</option>
                    <option value="IT">IT</option>
                    <option value="HR">HR</option>
                    <option value="Finance">Finance</option>
                  </select>
                  <div class="invalid-feedback">
                    <div *ngIf="f['department'].hasError('required')"> Department is required</div>
                  </div>
                 </div>
              </div>
            </div>
        
       </div>
       <div class="col-md-6"></div>
    </div>
    
       
    
    
       <div class="row mt-4">
        <div class="d-flex justify-content-center">
        <span>  <button  type="submit" class="btn btn-success">Save</button></span>
    </div>
       </div>


      <!-- <div class="form-group">
        
      </div> -->
      <!-- <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">Submit</button> -->
    </form>
    <h2>Register Employee Table</h2>
    

  <div class="card card-info m-3">
    <h2 class="card-header">Employee Details</h2>
    <div class="card-body">
     
      <div class="d-flex justify-content-between">
        <mat-form-field>
          <mat-label>Search & Filter</mat-label>
          
          <input  matInput  placeholder="Title Search"
          (keyup)="applyFilter($event.target)" />
        </mat-form-field>
        <!-- <div class="text-end ">
          <button class="btn btn-primary mb-2" (click) = addCity()>Add</button>
      </div> -->
      </div>
      
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource"matSort  class="table table-bordered">
          
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="fatherName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fatherName"> Father Name </th>
            <td mat-cell *matCellDef="let element"> {{element.fatherName}} </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email"> email</th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by mobile">Mobile no.</th>
            <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
          </ng-container>
          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by department">Department</th>
            <td mat-cell *matCellDef="let element"> {{element.department}} </td>
          </ng-container>
      
      
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let element"> 
              <button  mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                color="primary" (click)="edit(element)">
                <mat-icon>edit</mat-icon>
              </button> 
              <button  mat-icon-button matTooltip="Click to Delete" class="iconbutton "
              (click)="delete(element.id)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
            </td>
          </ng-container>
          
      
          <!-- <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
            <td mat-cell *matCellDef="let emp">{{ emp[column] }}</td>
          </ng-container>  -->
        
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter </td>
          </tr>
        </table>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
  </div>
    
    
    
    

  </div>